.flip { transform: rotateY(0.5turn) }

.lang-switch {
  margin: auto;
  margin-right: 0.5em;
  appearance: none;
  background-color: transparent;
  padding: 0;
  border: none;
  height: 1em;
  width: 2em;
  perspective: 64rem;
  transition-duration: 0.4s;
  cursor: pointer;

  &:hover, &:focus {
    .card { .flip() }
  }
  &.active {
    .card { .flip() }
    &:hover, &:focus {
      .card { transform: rotateY(1turn) }
    }
  }
  &:active { transform: scale(1.5) }
  .card {
    position: relative;
    height: 100%;
    width: 100%;
    transition-duration: 0.4s;
    transform-style: preserve-3d;

    svg {
      height: 100%;
      width: 100%;
    }
  }
  .front, .back {
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .back { .flip() }
}