.header {
  position: relative;
  display: flex;
  align-items: center;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    left: -100vw;
    right: -100vw;
    background: var(--brand-bg);
  }

  .avatar {
    position: relative;
    max-height: 6.5em;
    margin-right: 2em;
    @media print { filter: grayscale(100%) }
  }
  .content {
    flex: auto;
    position: relative;
    color: var(--brand-fg);
    font-weight: 600;

    .title {
      font-size: 1.75em;
      font-variant: small-caps;
      letter-spacing: 0.18em;
    }
    .subtitle { font-weight: 400 }
  }
  .actions {
    flex: 0 0 24%;
    display: flex;
    position: relative;
    @media print { display: none }
  }
}