.experience-wrap {
}

.experience {
  margin-top: 1.25em;

  .title {
    font-variant: all-small-caps;
    color: var(--head-fg);
    font-size: 1.125em;
    margin: 0;
  }
  .subtitle {
    font-style: italic;
    margin-top: 0.25em;
  }
  .item {
    position: relative;
    margin-top: 0.5em;
    padding-left: 2em;

    &::before {
      content: '‣';
      position: absolute;
      left: 0.5em;
      font-size: 1.5em;
      color: var(--brand-bg);
      transition-duration: 0.3s;
      line-height: 1;
      @media print { color: inherit }
    }
    &:hover::before { transform: translateX(0.2em) }
    dfn {
      font-weight: 600;
      font-style: normal;
    }
  }
}