.article-title {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  font-variant: small-caps;
  color: var(--head-fg);
  margin: 0 0 1em;

  .icon {
    height: 1.5em;
    min-width: 1.5em;
    width: 1.5em;
    margin-right: 0.5em;
    display: flex;
    background: var(--brand-bg);
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;

    svg {
      width: 80%;
      height: 80%;
      margin: auto;

      g, path { fill: var(--brand-fg) }
    }
    &.contact svg {
      g, path { stroke: var(--brand-fg) }
    }
  }
}