.skills-wrap {}

.skills {
  display: flex;
  flex-wrap: wrap;

  .item {
    font-size: 0.85em;
    padding: 0.25em 0.5em;
    outline: var(--brand-bg) solid 1px;
    margin-right: 0.35em;
    margin-bottom: 0.25em;
    @media print {
      outline: none;
      background-color: var(--brand-bg);
    }

    [data-skill] {
      font-style: normal;
      text-transform: capitalize;
    }
  }
}