@import '../../../variables';

.contact {

  .item {
    .name {
      color: var(--head-fg);
      font-weight: 600;
      margin-top: 0.5em;
      &::after { content: ':' }
    }
    .value {}
    .link {
      text-decoration: none;
      color: @init-brand;
      transition-duration: 0.3s;
      @media print { color: inherit }

      &:hover, &:active {
        color: saturate(@init-brand, 120%);
        text-decoration: underline;
      }
    }
  }
}