@import './variables';
* { box-sizing: border-box }
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  @media print { font-size: 10pt }
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('./resources/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Light'), local('ProximaNova-Light'),
    url('./resources/fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
    url('./resources/fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
    url('./resources/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Extra Bold'), local('ProximaNova-Extrabld'),
    url('./resources/fonts/ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

#root { overflow-x: hidden }

.main-wrap {
  display: grid;
  grid-template-columns: 1fr 24%;
  grid-template-rows: auto 1fr;
  grid-gap: var(--pad);
  gap: var(--pad);
  grid-template-areas: "header header"
    "main sidebar";
  max-width: 64em;
  margin: 0 auto 3em;
  color: var(--text-fg);
  @media print, @mobile {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header"
      "main"
      "sidebar";
    margin-left: 0;
    width: 100%;
  }
  @media print { max-width: 21cm }
  @media @mobile { font-size: 0.95em }
  @media @mobile-sm { font-size: 0.85em }
}

.header {
  grid-area: header;
  padding: var(--pad);
  @media print {
    font-size: 0.85em;
    max-height: 7.25em;
  }
  @media @mobile { font-size: 0.9em }
}
.main {
  grid-area: main;
  padding: 0 1em 0 var(--pad);
  @media print, @mobile { padding: var(--pad) }
  > :nth-child(n + 2) { margin-top: var(--pad) }
}
.sidebar {
  grid-area: sidebar;
  padding-right: var(--pad);
  @media print, @mobile { padding: 0 var(--pad) var(--pad) }
  > :nth-child(n + 2) { margin-top: var(--pad) }
}
@media print {
  .main > div {
    page-break-inside: avoid;
  }
  .sidebar > div {
    page-break-inside: avoid;
    display: flex;
    flex-flow: row wrap;

    .article-title { width: 100% }
    > :not(.article-title) {
      flex: auto;
      margin-top: 0;
    }
  }
}