@desktop: ~'screen and (min-width: 1440px)';
@laptop: ~'screen and (max-width: 1440px)';
@tablet: ~'screen and (max-width: 1024px)';
@mobile: ~'screen and (max-width: 768px)';
@mobile-sm: ~'screen and (max-width: 400px)';

@init-brand: #4682b4;

#root {
  --pad: 2rem;
  --brand-bg: @init-brand;
  --brand-fg: white;
  --text-fg: #555;
  --head-fg: #444;
  @media print {
    --pad: 0.5cm;
    // override inline styles
    --brand-bg: #eee !important;
    --brand-fg: black !important;
  }
  @media @mobile { --pad: 1rem }
}